/* while we hover mouse over bar chart its color will be orange */

.circle:hover {
	fill: orange;
}

.rect:hover {
	fill: orange;
}



/* tooltip parameters */
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background-color:steelblue;
  border: 1px solid #6F257F;
  padding: 1px;
  text-align: center;
  font-weight:bold;
  color:white;
}

/* axis stroke width and color */
.tick line,path{
  stroke-width: 2px;
  stroke:black;
}

/* axis text color */
.tick text{
  fill:red;
  font-weight:bold;
}
